<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<form action="/albums" method="post">
    <input type="text" name="title" placeholder="Place Album Title Here">
    <input type="text" name="artist" placeholder="Place Artist Here">
    <input type="number" name="songCount" placeholder="Place the # of Songs Here">
    <input type="number" name="length" placeholder="Seconds of Song here">
    <input type="text" name="imageUrl" placeholder="Image URL">

    <input type="submit">

</form>

    <div th:each="album : ${albumsToShow}">
        <h1 th:text=" 'Album Title: ' + ${album.title}"></h1>
        <h2 th:text="${album.artist}"></h2>
        <h2 th:text="${album.songCount}"></h2>
        <h2 th:text="${album.length}"></h2>
        <h2>Album Artwork</h2>
        <img th:src="${album.imageUrl}">
    </div>
</body>
</html>